apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-ingressgateway
  namespace: istio-system
spec:
  interval: 10m
  chart:
    spec:
      chart: gateway
      version: "1.28.0"
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: istio-system
  dependsOn:
    - name: istiod
      namespace: istio-system
  values:
    service:
      type: LoadBalancer
      ports:
        - name: status-port
          port: 15021
          protocol: TCP
          targetPort: 15021
        - name: http2
          port: 80
          protocol: TCP
          targetPort: 80
          nodePort: 30080
        - name: https
          port: 443
          protocol: TCP
          targetPort: 8443
          nodePort: 30443
