apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-ingressgateway
  namespace: istio-system
spec:
  interval: 10m
  chart:
    spec:
      chart: gateway
      version: "1.28.0"
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: istio-system
  dependsOn:
    - name: istiod
      namespace: istio-system
  values:
    service:
      type: LoadBalancer
